#main{
    margin-left: 25%;
    margin-right: 25%;
    background-color: rgb(208, 203, 171);
    padding: 1rem;
    /* border: 2px solid rgb(187, 226, 31); */
  border-radius: 5px;
  box-shadow: 2px 5px rgb(15, 15, 15);
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }
  input[type="text"] {
    padding: 7px;
    font-size: 16px;
    width: 90%;
    margin-bottom: 12px;
  }
  
  th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  form {
  margin-bottom: 10px;
}

input {
  padding: 5px;
  margin-right: 5px;
}

button {
  padding: 5px 10px;
  background-color: blue;
  color: white;
}