

<div id="main">
<h1>Angular/React Task</h1>
  
  <div class="task-links">
    <a style="margin-left: 5px;" href="/databinding">Task 1</a>
    <a href="/todolist">Task 2</a> <a href="/formvalidation">Task 3</a><a href="/filters">Task 4</a>
    <a href="/image">Task 5</a>
    <a href="/userservice">Task 6</a>
    <a href="/profile">Task 7</a>

   
  </div>
</div>

<!-- <div id="main2">
  <ul *ngFor="let items of products">
    <li>{{items.name}}</li>
    <li>{{items.price}}</li>

  </ul> -->
  <!-- <h1 >{{items.name}}</h1> -->
<!-- </div> -->

<router-outlet></router-outlet>